@model IEnumerable<Student>
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学生列表页";
   
}

    @*<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名字</th>
                <th>班级名称</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.ClassName</td>
                    <td>@student.Email</td>
                </tr>
            }
        </tbody>
    </table>*@

    <div class="card-deck">
        @foreach (var student in Model)
        {
            var photoPath = "~/images/" + (student.PhotoPath ?? "111.jpg");
            <div class="card m-3">
                <div class="card-header">
                    <h3>@student.Name</h3>
                </div> 
                <img class="card-img-top img-thumbnail" src="@photoPath" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="details" asp-route-id="@student.Id" class="btn btn-primary m-0">查看</a>    

                    <a asp-controller="home" asp-action="edit" asp-route-id="@student.Id" class="btn btn-primary m-0">编辑</a>
                    <a href="#" class="btn btn-danger m-0">删除</a>

                </div>
            </div>
        }
    </div>

